---
import Layout from './layout.astro';

import { cn } from '@/utils';
import { siteTitle } from '@/globals';

import CopyToClipboard from '@/components/mdx/codeblock-astro.astro';

const { frontmatter } = Astro.props;
---

<CopyToClipboard />
<Layout
  title={`${frontmatter.title} - ${siteTitle}`}
  description={frontmatter.description}
>
  <div
    class={cn(
      'relative ml-0 md:ml-60 lg:gap-10 gap-0 xl:grid-cols-[1fr,150px] xl:grid',
    )}
  >
    <slot />
  </div>
</Layout>
