---
import { getCollection } from 'astro:content';

// Layouts:
import Markdown from '@/layouts/markdown.layout.astro';
import { cn } from '@/utils';
import { proseClasses } from '@/ui/prose';
import Toc from '@/components/toc.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('docs');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry, slug: entry.slug },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Markdown frontmatter={entry.data}>
  <article class={cn(proseClasses, 'py-6 w-screen')}>
    <div
      class="mt-4 mb-6 pb-5 flex flex-col space-y-2 border-b border-neutral-200 dark:border-neutral-800"
    >
      <h1 class="text-4xl mt-0 tracking-tight font-semibold">
        {entry.data.title}
      </h1>
      <p>{entry.data.description}</p>
    </div>
    <Content />
  </article>
  {
    headings.length > 0 && (
      <div>
        <Toc headings={headings} />
      </div>
    )
  }
</Markdown>
