@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Layout Properties */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Light/Dark mode for Rehype-Pretty-Code and Shiki */
/* https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode */
/* https://shiki.style/guide/dual-themes#light-dark-dual-themes */

html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span,
html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
  background-color: transparent !important;
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span,
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
}
