@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Layout Properties */

@layer base {
  :root {
    --radius: 0.5rem;
  }

  [data-highlighted-line] {
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -16px;
      right: -16px;
      bottom: 0;
      background-color: theme("colors.neutral.400 / 13%");
      border-left: 1px solid theme("colors.neutral.400");
      z-index: -1;
    }

    .dark &::before {
      background-color: theme("colors.neutral.600 / 20%");
      border-left: 1px solid theme("colors.neutral.600");
    }
  }
}

/* Light/Dark mode for Rehype-Pretty-Code and Shiki */
/* https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode */
/* https://shiki.style/guide/dual-themes#light-dark-dual-themes */

html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span,
html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
  background-color: transparent !important;
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span,
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
}

/* Highlighted Line - Rehype-Pretty-Code */
