---
import { proseClasses } from '@/ui/prose';
import { cn } from '@/utils';

interface Props {
  title: string;
  description: string;
  hideHeader?: boolean;
}

const { title, description, hideHeader } = Astro.props;
---

<article class={cn(proseClasses, 'w-screen', hideHeader ? 'py-10' : 'py-6')}>
  {
    hideHeader ? null : (
      <div class="mt-4 mb-6 pb-5 flex flex-col space-y-2 border-b border-neutral-200 dark:border-neutral-800">
        <h1 class="text-4xl mt-0 tracking-tight font-semibold">{title}</h1>
        <p>{description}</p>
      </div>
    )
  }
  <slot />
</article>
