@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts: */

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* Shiki Light/Dark Theme: */

html.light .astro-code,
html.light .astro-code span {
  background-color: #fafafa !important;
}

html.light .astro-code .highlighted {
  background-color: #fafafa !important;
}

html.dark .astro-code .line .highlighted {
  background-color: green !important;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #171717 !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: transparent !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

/* For custom Codeblock TSX Component: */

html.light .shiki,
html.light .shiki span {
  background-color: transparent !important;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* Custom Scrollbar: */

html.light .custom-scrollbar {
  --sb-track-color: #e5e5e5;
  --sb-thumb-color: #a3a3a3;
  --sb-size: 12px;
}

html.dark .custom-scrollbar {
  --sb-track-color: #262626;
  --sb-thumb-color: #404040;
  --sb-size: 12px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
