---
import Layout from "../layouts/Layout.astro";
import ShowToast from "../components/showToast";
---

<Layout>
  <p>Astro + React 19 + View Transitions API + pheralb/toast</p>
  <a href="/about">About</a>
  <ShowToast client:load />
</Layout>
